---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Interactive from '../components/Interactive.astro';
import Creations from '../components/Creations.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Loopstudios Landing Page">
  <Header />
  <main>
    <Hero />
    <Interactive />
    <Creations />
  </main>
  <Footer />
</Layout>